Package: com.jacobcxdev.idunnou
Name: iDunnoU
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 1.2.0
Architecture: iphoneos-arm
Description: A tweak for Messages to show/hide unknown senders.
Maintainer: JacobCXDev
Author: JacobCXDev
Section: Tweaks
