Package: com.jacobcxdev.idunnou
Name: iDunnoU
Depends: mobilesubstrate
Version: 1.1.1
Architecture: iphoneos-arm
Description: A tweak for Messages to show/hide unknown senders.
Maintainer: JacobCXDev
Author: JacobCXDev
Section: Tweaks
